body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

.welcome{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(44,44,44);
    text-align: center;
    line-height: 100vh;
    color: #fff;

}