<!-- Interface/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" rel="stylesheet"> 
        {% load static %}
        <link href="{% static "css/core.css" %}" rel="stylesheet"/>
        <link href="{% static "fa/css/fontawesome-all.min.css" %}" rel="stylesheet"/>
    </head>
    <body>
        
        <div class='notifications' id="noti">
            <div class='no-results'>
                <div class='title'>Error</div>
                <div class='desc'>No results found!</div>
            </div>
            
        </div>

        <div class='interface'>
            <div class='menuBar'>
                <li>Traffic V.0.1</li>
                <li>
                    <input id="address" type="textbox" value="Luxembourg, Luxembourg">
                    <input id="submit" type="button" value="Geocode">
                </li>
            </div>
        </div>

        <div id="map">

            <h3>
                <span class='text'>Loading map <i class="far fa-map"></i></span> 
                <span class='icon'><i class="fas fa-spinner fa-spin"></i></span>
            </h3>
 
        </div>

        <script>

            function notification(){

                document.getElementById("noti").className = document.getElementById("noti").className + " display";

            }

                function initMap() {
                  // Create a map object and specify the DOM element for display.
                  var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 8
                  });
                  var geocoder = new google.maps.Geocoder();

                  document.getElementById('submit').addEventListener('click', function() {
                    geocodeAddress(geocoder, map);
                  });
                  
                }
                function geocodeAddress(geocoder, resultsMap) {
                    var address = document.getElementById('address').value;
                    geocoder.geocode({'address': address}, function(results, status) {
                    if (status === 'OK') {
                        resultsMap.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                        });
                        console.log("Lat: " + results[0].geometry.location.lat());
                        console.log("Long: " + results[0].geometry.location.lng());
                    } else {
                        notification();
                        // alert('Geocode was not successful for the following reason: ' + status);
                    }
                    });
                }
          
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-WQqUuLkCG7J1CY6mREbjINhHPQu92_c&callback=initMap" async defer></script>


    </body>
</html>